---
layout: default
---

<div class="carousel carousel-main" data-flickity='{ "wrapAround": true }'>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/1.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/2.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/3.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
  <div class="carousel-cell">
    <div class="poster">
      <img src="{{baseurl}}/images/4.png">
    </div>
  </div>
</div>

<div class="carousel carousel-nav"
  data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "wrapAround": true, "draggable": false, "prevNextButtons": false}'>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="ticket">
      <div class="left">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
      <div class="content">
        <div class="credits">
          By Dave Barry & Ridley Pearson Adapted for the Stage by Rock Elice
        </div>
        <div class="reserve_tickets">
          Reserve Tickets
        </div>
        <div class="date">
          March 30th through April 22nd
        </div>
      </div>
      <div class="right">
        <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
      </div>
    </div>
  </div>
</div>
{% include heading.html content=site.data.contact.tagline %}
{% include contact.html %}
<div class="anouncements">
  <div class="column">
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        1<!--Click here for more information!-->
      </div>
    </div>
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        2
      </div>
    </div>
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        3
      </div>
    </div>
  </div>
  <div class="column">
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        4
      </div>
    </div>
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        5
      </div>
    </div>
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        6
      </div>
    </div>
  </div>
  <div class="column">
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        7
      </div>
    </div>
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        8
      </div>
    </div>
    <div class="anouncement">
      <h1>Summer Camps are Signing Up Now!</h1>
      <h2>Classes begin Monday June 25th</h2>
      <br>
      <div class="btn">
        9
      </div>
    </div>
  </div>
</div>

<div class="more">More Anouncements</div>
