---
layout: default
---

<div class="carousel carousel-main" data-flickity='{ "wrapAround": true }'>
  {% for show in site.shows %}
    <div class="carousel-cell">
      <div class="poster">
        <img src={{show.thumb}}>
      </div>
    </div>
  {% endfor %}
</div>


<div class="carousel carousel-nav"
    data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "wrapAround": true, "draggable": false, "prevNextButtons": false}'>
  {% for show in site.shows %}
    <div class="carousel-cell">
      <div class="ticket">
        <div class="left">
          <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
        </div>
        <div class="content">
          <div class="credits">
            {{show.credits}}
          </div>
          <a href={{show.url}}>
            <div class="reserve_tickets">Reserve Tickets</div>
          </a>
          <div class="date">
            {{show.time}}
          </div>
        </div>
        <div class="right">
          <img src="{{baseurl}}/images/ticket_stub_border_image.svg"/>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
