<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{site.baseurl}}/flickity.css">
  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
  <script src="{{site.baseurl}}/flickity.pkgd.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Lakewood Playhouse</title>
</head>
<body>
  <div class = "content">
    <div class="header">
      <div class="nav">
        <div class="logo">
          <a href = "{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/logo.svg"/></a>
        </div>
        <div class="our_seasons">
          <a href = "{{site.baseurl}}/our_seasons.html">Our Seasons</a>
        </div>
        <div class="box_office">
          <a href = "{{site.baseurl}}/box_office.html">Box Office</a>
        </div>
        <div class="directions">
          <a href = "{{site.baseurl}}/directions.html">Directions</a>
        </div>
        <div class="about_us">
          <a href = "{{site.baseurl}}/blog.html">Blog</a>
        </div>
        <div class="education">
          <a href = "{{site.baseurl}}/education.html">Education</a>
        </div>
        <div class="donate">
          <a href = "{{site.baseurl}}/donate.html">Donate</a>
        </div>
      </div>
      <div class="bottom"><img src="{{site.baseurl}}/images/ticket_stub_border_image.svg"/></div>
    </div>
    {{content}}
  </div>
  <div>
    {% include footer.html %}
    {% if page.url != '/' %}
      {% include contact.html%}
    {% endif %}
    {% include heading.html content="Donate Today" %}
  </div>
</body>
</html>
